body {
  margin: auto 0;
  background-image: url("../simpsons-wallpapers.jpg");
}
.content {
  background-color: white;
  opacity: 0.85;
  padding-top: 30px;
  border: 20px solid blue;
}
h1,
#answer {
  font-family: "Rock Salt", cursive;
  font-weight: bold;
}
h2 {
  font-size: 40px;
}
#user-text,
#loser {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.container {
  text-align: center;
  padding: 30px 0;
}

#loser {
  padding-bottom: 40px;
}
.bottomStg {
  padding-bottom: 20px;
}
